@import "tailwindcss";

/* ===== Biotechmaali Theme ===== */
@theme inline {
  --font-sans: "Nunito Sans", sans-serif;
  --color-bio-green: [#062e25];
  --color-bio-green-text: [#062e25];
  --color-green-600: [#062e25];
  --color-green-700: [#062e25];
  --color-emerald-600: [#062e25];
  --color-emerald-700: [#062e25];
  --color-emerald-800: [#062e25];
}

/* Apply font globally */
body {
  font-family: var(--font-sans);
}
